<% include ../partials/header %>

<link href="/stylesheets/fullcalendar.css" rel="stylesheet" media="screen">
<link href="/stylesheets/calendar.css" rel="stylesheet">
<div class="page-content">
    <div class="row">
        <div class="col-md-2">
            <% include navBar %>
        </div>
        <div class="col-md-10">

            <div class="content-box-large">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="content-box-large">
                                <div class="panel-body"><p> <%=notice.notice %> </p></div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div id='calendar'></div>
                        </div>
                    </div>
            </div>


        </div>
    </div>
</div>

<% include ../partials/footer %>