<div class="sidebar content-box" style="display: block;">
    <ul class="nav">
        <!-- Main menu -->
        <li><a href="/dashbord"><i class="glyphicon glyphicon-stats"></i> Dashbord </a></li>
        <li><a href="/teachers/markattendance"><i class="glyphicon glyphicon-stats"></i> Mark Attendence </a></li>
        <!--<li><a href="/leave"><i class="glyphicon glyphicon-list"></i> Assignment</a></li>-->
        <!--<li><a href="/timetable"><i class="fas fa-calendar-times"></i> Time table</a></li>-->
        <!--<li class="submenu">-->
            <!--<a href="#">-->
                <!--<i class="fas fa-users"></i> Notice-->
                <!--<span class="caret pull-right"></span>-->
            <!--</a>-->
            <!--&lt;!&ndash; Sub menu &ndash;&gt;-->
            <!--<ul>-->
                <!--<li><a href="/users/new">View Notice</a></li>-->
                <!--<li><a href="/users">Add Notice</a></li>-->
            <!--</ul>-->
        <!--</li>-->

        <!--<li class="submenu">-->
            <!--&lt;!&ndash;<a href="#">&ndash;&gt;-->
                <!--&lt;!&ndash;<i class="fas fa-calendar-times"></i> Leave Application&ndash;&gt;-->
                <!--&lt;!&ndash;<span class="caret pull-right"></span>&ndash;&gt;-->
            <!--&lt;!&ndash;</a>&ndash;&gt;-->
            <!--&lt;!&ndash; Sub menu &ndash;&gt;-->
            <!--<ul>-->
                <!--<li><a href="/teachers/leaveapplication/new">New Application</a></li>-->
                <!--<li><a href="/teachers/leaveapplication">View Application</a></li>-->
            <!--</ul>-->
        <!--</li>-->

        <li class="submenu">
            <a href="#">
                <i class="fas fa-calendar-times"></i> Assignments
                <span class="caret pull-right"></span>
            </a>
            <!-- Sub menu -->
            <ul>
                <li><a href="/teachers/assignments/add">Add Assignment</a></li>
                <li><a href="/teachers/assignments">View Assignment</a></li>
            </ul>
        </li>
        <li><a href="/teachers/coursematerial"><i class="glyphicon glyphicon-stats"></i> Course Material </a></li>
        <li><a href="/teachers/notice"><i class="glyphicon glyphicon-stats"></i> Notice </a></li>
    </ul>
</div>