<div class="sidebar content-box" style="display: block;">
    <ul class="nav">
        <!-- Main menu -->
        <li class="current"><a href="/dashbord"><i class="fas fa-tachometer-alt"></i> Dashboard</a></li>
        <li class="current"><a href="/student/homework"><i class="fas fa-tachometer-alt"></i> Homework</a></li>
        <li class="current"><a href="/student/attendence"><i class="fas fa-tachometer-alt"></i> Attendence</a></li>
        <li class="current"><a href="/student/subjectMaterial"><i class="fas fa-tachometer-alt"></i> Subject material</a></li>
        <!--<li class="current"><a href="/dashbord"><i class="fas fa-tachometer-alt"></i> Progress</a></li>-->
        <!--<li><a href="/subjects/timetable"><i class="fas fa-calendar-times"></i> Time table</a></li>-->
        <li><a href="/student/notice"><i class="fas fa-envelope-square"></i> Notice</a></li>
    </ul>
</div>