<div class="sidebar content-box" style="display: block;">
    <ul class="nav">
        <!-- Main menu -->
        <li class="current"><a href="/dashbord"><i class="fas fa-tachometer-alt"></i> Dashboard</a></li>
        <li class="submenu">
            <a href="#">
                <i class="fas fa-users"></i> Course
                <span class="caret pull-right"></span>
            </a>
            <!-- Sub menu -->
            <ul>
                <li><a href="/subjects/science">Science</a></li>
                <li><a href="/subjects/Sinhala">Sinhala</a></li>
                <li><a href="/subjects/Buddhism">Buddhism</a></li>
                <li><a href="/subjects/History">History</a></li>
                <li><a href="/subjects/Maths">Mathematics</a></li>
                <li><a href="/subjects/English">English</a></li>
            </ul>
        </li>
        <!--<li><a href="/subjects/timetable"><i class="fas fa-calendar-times"></i> Time table</a></li>-->
        <li><a href="/subjects/notice"><i class="fas fa-envelope-square"></i> Notice</a></li>
    </ul>
</div>