<% include ../partials/header %>

<link href="/stylesheets/fullcalendar.css" rel="stylesheet" media="screen">
<link href="/stylesheets/calendar.css" rel="stylesheet">

<div class="page-content">
    <div class="row">
        <div class="col-md-2" >
            <% include navbar %>
        </div>

        <!-- news forum -->
        
        <div class="col-md-8" style="background-color:#F5FFFA; height:250px">
            <div class="row" >
                <h4 style="text-align:center;"> News Forum</h4>
                <p style ="text-indent: 50px;"> No announcements have been posted yet ! </p>
            </div>
        </div>


        <div class="col-md-2" >
            <div class="sidebar content-box" ">
            <ul class="nav">
                <!-- Main menu -->

                <li><a href="stats.html"><i class="glyphicon glyphicon-stats"></i> Activity</a></li>
                <li><a href="tables.html"><i class="glyphicon glyphicon-list"></i> Grades</a></li>
                <li><a href="index.html"><i class="glyphicon glyphicon-home"></i> Notifiations</a>
                    <p style="margin:10px;">No announcement have been posted yet !</p></li>

            </ul>
        </div>
    </div>

</div>
</div>


<% include ../partials/footer %>