<% include ../partials/header %>

<link href="/stylesheets/fullcalendar.css" rel="stylesheet" media="screen">
<link href="/stylesheets/calendar.css" rel="stylesheet">


<div class="page-content">
    <div class="row">
        <div class="col-md-2">
            <% include navbar %>
        </div>

            <!--middle part-->
                <div class="col-md-8" style="background-color: #dcdcdc;background-color:#F5FFFA;">
                    <div class="row" >
                        <h4 style="text-align:center;"><%=subject.name%></h4>
                        <ul>
                            <a href="/subjects/science/newsForum" ><i class="material-icons">message</i>      News forum</a>
                        </ul>

                    </div>
                    <div class="row" style="padding:10px;">
                        <h5 >   1 January - 7 January</h5>
                        <ul>
                            <a href="/subjects/science/assignment"><i class="fa fa-file-text" style="font-size:24px"></i>  Assignment</a>
                        </ul>
                        <ul>
                            <a href="/subjects/science/lectureSlides"><i class="far fa-file-alt" style="font-size:24px"></i>  Lecture Slides</a>
                        </ul>

                    </div>
                    <div class="row" style="padding:10px;">
                        <h5 >   8 January - 14 January</h5>
                    </div>

                </div>

                <!--side nav-->
                <div class="col-md-2" >


                    <div class="sidebar content-box" ">
                    <ul class="nav">
                        <!-- Main menu -->

                        <li><a href="stats.html"><i class="glyphicon glyphicon-stats"></i> Activity</a></li>
                        <li><a href="tables.html"><i class="glyphicon glyphicon-list"></i> Grades</a></li>
                        <li><a href="index.html"><i class="glyphicon glyphicon-home"></i> Notifiations</a>
                            <p style="margin:10px;">No announcements have been posted yet !</p></li>

                    </ul>
                </div>


            <!--</div>-->

    </div>
</div>

<% include ../partials/footer %>